<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>检查费用计算</title>
  </head>
  <body>
    <form action="" method="post">
      <h1>费用明细计算</h1> 
      请输入检查部位：
      <input type="text" name="studypart" />
      <br />
      设备类型:<input type="radio" name="modality" value="CT">CT
      <input type="radio" name="modality" value="MR">MR
      <input type="radio" name="modality" value="DR">DR
      <input type="radio" name="modality" value="MG">MG
      <br />
      <br />
      <input type="submit" name="submit" />
    </form>
    <br>


  </body>
</html>
