<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>危急值查询</title>
  </head>
  <body>
    <center><h1>危急值时间范围查询</h1></center><br><br>
    <form action="" method="post">
      请输入查询开始时间:
      <input type="text" name="startYear" />年
      <input type="text" name="startMonth" />月
      <input type="text" name="startDay" />日
      <br>
      请输入查询结束时间:
      <input type="text" name="endYear" />年
      <input type="text" name="endMonth" />月
      <input type="text" name="endDay" />日
      <br>
      <input type="submit" name="submit" />
    </form>
    <br><br>
    <h2><a id="check_criticalvalue_link" href="/check_criticalvalue" class="hidden mt-3">危急值漏报查询</a></h2>
  </body>
</html>