<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>高精度阳性率结果</title>
</head>
<body>
    <h1>CT高精度阳性率</h1><br>
    <br><img src="static/CTFig.png" width="1000" />
    <h1>MR高精度阳性率</h1><br>
    <br><img src="static/MRFig.png" width="1000" />
    <h1>DR高精度阳性率</h1><br>
    <br><img src="static/DRFig.png" width="1000" />
    <h1>MG高精度阳性率</h1><br>
    <br><img src="static/MGFig.png" width="1000" />
    <div style="text-align:center ;"><br><h1>颅脑</h1><br></div>
    <br><img src="static/颅脑.png" width="1000" />
    <div style="text-align:center ;"><br><h1>颜面</h1><br></div>
    <br><img src="static/颜面.png" width="1000" />
    <div style="text-align:center ;"><br><h1>颈部</h1><br></div>
    <br><img src="static/颈部.png" width="1000" />
    <div style="text-align:center ;"><br><h1>胸部</h1><br></div>
    <br><img src="static/胸部.png" width="1000" />
    <div style="text-align:center ;"><br><h1>腹部</h1><br></div>
    <br><img src="static/腹部.png" width="1000" />
    <div style="text-align:center ;"><br><h1>盆部</h1><br></div>
    <br><img src="static/盆部.png" width="1000" />
    <div style="text-align:center ;"><br><h1>肩部</h1><br></div>
    <br><img src="static/肩部.png" width="1000" />
    <div style="text-align:center ;"><br><h1>脊柱</h1><br></div>
    <br><img src="static/脊柱.png" width="1000" />
    <div style="text-align:center ;"><br><h1>上肢</h1><br></div>
    <br><img src="static/上肢.png" width="1000" />   
    <div style="text-align:center ;"><br><h1>下肢</h1><br></div>
    <br><img src="static/下肢.png" width="1000" />   
    <div style="text-align:center ;"><br><h1>心脏</h1><br></div>
    <br><img src="static/心脏.png" width="1000" />   
    <div style="text-align:center ;"><br><h1>乳房</h1><br></div>
    <br><img src="static/乳房.png" width="1000" />   

</body>
</html>