<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>结构化报告评级结果</title>
</head>
<body>
    <h1>报告评级说明</h1><br>
    <h2>一、报告部位规范性	20分	报告内容与检查申请一致，无遗漏、错误或缺失检查部位。</h2><br>
    <h2>二、结论准确性	    20分	主要结论准确，无缺失、错漏。</h2><br>
    <h2>三、描述准确性	    20分	描述与主要结论一致，无缺失、错漏则。</h2><br>
    <h2>四、一般性语言错误	20分	不出现测量单位错误、性别错误、日期错误、左右错误等语言问题。</h2><br>
    <h2>五、用语规范	    10分	使用中文或国际通用的医学规范术语。</h2><br>
    <h2>六、二级审核	    10分	有两名医生签字（临时报告除外）。</h2><br><br><br>
    <h1>各设备类型报告评级</h1><br>
    <br><img src="static/modalityLevel.png" width="1000" />
    <h1>各条款得分情况</h1><br>
    <br><img src="static/specification.png" width="1000" />


  
</body>
</html>