<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>结构化报告评级查询</title>
  </head>
  <body>
    <h1>报告评级时间范围查询</h1>
    <form action="" method="post">
      请输入查询开始时间:
      <input type="text" name="startYear" />年
      <input type="text" name="startMonth" />月

      <br>
      请输入查询结束时间:
      <input type="text" name="endYear" />年
      <input type="text" name="endMonth" />月

      <br>
      <input type="submit" name="submit" />
    </form>


  </body>
</html>